body
{
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
    background-color:#f4f4f4;
}
.container
{
    width: 80%;
    margin:auto;
    overflow: hidden;
}
ul{
    margin: 0%;
    padding: 0%;
}
header
{
    background:#353637;
    color:#ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #080808 5px solid;
}
header a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 19px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand
{
    float: left;
}
header #brand h1
{
    margin: 0%;
    color: #32a0c2;
}
header nav
{
    float: right;
    margin-top: 30px;
}
header .container a
{
    color:#ffffff;
    font-weight: bold;
}
header a:hover
{
    color: #080808;
    font-weight: bold;
}
#showcase
{
    min-height: 400px;
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
}
#newsletter
{
    padding: 15px;
    color: #ffffff;
    background: #353637;
}
#newsletter h1
{
    float: center
  
}
#newsletter form
{
    float:left;
    margin:top 40px;
}
#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250%;
}
.button
{
    height: 38px;
    background: #cccccc;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
}
#boxes
{
    margin-top: 20px;
}
#boxes .box
{
    float: right;
    text-align: center;
    width: 30%;
    padding: 10px;
}
footer
{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #32a0c2;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
@media(max-width:768px)
{
    header #brand,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box
    {
        float:none;
        text-align: center;
        width: 100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    #newsletter .button
    {
        display: block;
        width: 100%;

    }
    #newsletter
    {
        width: 100%;
        margin-bottom: 5px;
    }
}